<div id="home">
    <p>Accueil</p>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row mb-1">
                    <form name="search" method="get" class="col-4" autocomplete="off" novalidate="">
                        <div class="input-icon">
                            <input type="text" value="" class="form-control" placeholder="Recherche…" aria-label="Recherche une classe">
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                            </span>
                        </div>
                    </form>
                    <a href="#modal-create-user" data-bs-toggle="modal" data-bs-target="#modal-create-user" class="col-1 align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                        </svg>
                    </a>
                </div>
                <table class="table table-vcenter card-table table-striped" id="search_table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Classe</th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}

                        <tr>
                            <td>{{ user.getPrenom() }}</td>
                            <td>{{ user.getNom() }}</td>
                            <td class="text-secondary"><a href="#" class="text-reset"><b>{{ user.getClasse().getDesignation() }}</b></a></td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-user" onclick="userEdit('{{ user.getId() }}', '{{ user.getNom() }}', '{{ user.getPrenom() }}', '{{ user.getCourriel() }}', '{{ user.getClasse().getId() }}')">
                                    Modifier
                                </a>
                            </td>
                            <td>
                                <a href="#" class="text-red" data-bs-toggle="modal" data-bs-target="#modal-delete-user" onclick="userDelete('{{ user.getId() }}')">
                                    Supprimer
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="col mt-3">
                <a href="#add">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                    </svg>
                </a>
                <table class="table table-vcenter card-table table-striped">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th class="w-1"></th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Gestionnaire de bibliothèque</td>
                            <td>20-09-2023 15:25</td>
                            <td>18-10-2023 17:15</td>
                            <td>
                                <a href="#">Modifier</a>
                            </td>
                            <td>
                                <a href="#" class="text-red">Supprimer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <h3><b>Gestionnaire de bibliothèque</b></h3>
            <p>
                Ajout, modification et suppression de livres dans une base de données. Recherche de livres par titre, auteur ou genre. Enregistrement des emprunts de livres par les utilisateurs.
            </p>
        </div>

        <div class="row col-6">
            <a href="#add">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                </svg>
            </a>
            <table class="table table-vcenter card-table table-striped">
                <thead>
                    <tr>
                        <th>Ordre</th>
                        <th>Description</th>
                        <th>Progression</th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CRUD Livre, Auteur et genre</td>
                        <td class="text-green">TERMINEE</td>
                        <td>
                            <a href="#">Modifier</a>
                        </td>
                        <td>
                            <a href="#" class="text-red">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-create-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_create) }}
                {{ form_widget(form_create) }}
                {{ form_end(form_create) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Créer
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-edit-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_edit) }}
                {{ form_widget(form_edit) }}
                {{ form_end(form_edit) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Créer
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path><path d="M12 16h.01"></path></svg>
                <h3>Are you sure?</h3>
                <div class="text-secondary">Voulez-vous vraiment supprimer cet utilisateur</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Annuler
                            </a>
                        </div>
                        <div class="col">
                            <form method="POST" action="" name="utilisateurDelete">
                                <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal" onclick="javascript: this.parentNode.submit()">
                                    Supprimer
                                </a>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete user') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Storage/assets/js/searchUser.js" lang="js"></script>
<script lang="js">
    window.onload = () => {
        document.forms.utilisateur.parentNode.parentNode.children[2].children[1].addEventListener('click', evt => {
            document.forms.utilisateur.submit()
        })
    }

    document.forms

    function userDelete(id)
    {
        document.forms.utilisateurDelete.action = "/utilisateur/" + id
        return 0;
    }

    function userDelete(id, nom, prenom, courriel, classe_id)
    {
        document.forms.utilisateurEdit.action = "/utilisateur/" + id
        return 0;
    }
</script>
