<div id="home">
    <p>Accueil</p>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="row mb-1">
                    <form name="search" method="get" class="col-4" autocomplete="off" novalidate="">
                        <div class="input-icon">
                            <input type="text" value="" class="form-control" placeholder="Recherche…" aria-label="Recherche une classe">
                            <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path><path d="M21 21l-6 -6"></path></svg>
                            </span>
                        </div>
                    </form>
                    <a href="#modal-create-user" data-bs-toggle="modal" data-bs-target="#modal-create-user" class="col-1 align-self-center">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                        </svg>
                    </a>
                </div>
                <table class="table table-vcenter card-table table-striped" id="search_table">
                    <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Classe</th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for user in users %}

                        <tr onclick="javascript: getTps('{{ user.getClasse().getId() | default("null") }}')">
                            <td>{{ user.getPrenom() }}</td>
                            <td>{{ user.getNom() }}</td>
                            <td class="text-secondary"><a href="#" class="text-reset"><b>{{ user.getClasse().getDesignation() | default("X") }}</b></a></td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal-edit-user" onclick="userEdit('{{ user.getId() }}', '{{ user.getNom() }}', '{{ user.getPrenom() }}', '{{ user.getCourriel() }}', '{{ user.getClasse().getId() | default("null") }}')">
                                    Modifier
                                </a>
                            </td>
                            <td>
                                <a href="#" class="text-red" data-bs-toggle="modal" data-bs-target="#modal-delete-user" onclick="userDelete('{{ user.getId() }}')">
                                    Supprimer
                                </a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="col mt-3">
                <a href="#modal-create-tp" data-bs-toggle="modal" data-bs-target="#modal-create-tp" class="col-1 align-self-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                    </svg>
                </a>
                <table class="table table-vcenter card-table table-striped" id="tp_table" data-classeId="-1">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th class="w-1"></th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <h3><b>Gestionnaire de bibliothèque</b></h3>
            <p>
                Ajout, modification et suppression de livres dans une base de données. Recherche de livres par titre, auteur ou genre. Enregistrement des emprunts de livres par les utilisateurs.
            </p>
        </div>

        <div class="row col-6">
            <a href="#add">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path>
                </svg>
            </a>
            <table class="table table-vcenter card-table table-striped">
                <thead>
                    <tr>
                        <th>Ordre</th>
                        <th>Description</th>
                        <th>Progression</th>
                        <th class="w-1"></th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>CRUD Livre, Auteur et genre</td>
                        <td class="text-green">TERMINEE</td>
                        <td>
                            <a href="#">Modifier</a>
                        </td>
                        <td>
                            <a href="#" class="text-red">Supprimer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{#USER#}

<div class="modal modal-blur fade" id="modal-create-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_user_create) }}
                {{ form_widget(form_user_create) }}
                {{ form_end(form_user_create) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Créer
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-edit-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_user_edit, {'attr': {'name': "utilisateurEdit"}}) }}
                {{ form_widget(form_user_edit) }}
                {{ form_end(form_user_edit) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Modifier
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-user" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path><path d="M12 16h.01"></path></svg>
                <h3>Are you sure?</h3>
                <div class="text-secondary">Voulez-vous vraiment supprimer cet utilisateur</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Annuler
                            </a>
                        </div>
                        <div class="col">
                            <form method="POST" action="" name="utilisateurDelete">
                                <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal" onclick="javascript: this.parentNode.submit()">
                                    Supprimer
                                </a>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete user') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{#TP#}

<div class="modal modal-blur fade" id="modal-create-tp" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Créer un TP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_tp_create) }}
                {{ form_widget(form_tp_create) }}
                {{ form_end(form_tp_create) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Créer
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-edit-tp" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier un TP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_start(form_tp_edit, {'attr': {'name': "utilisateurEdit"}}) }}
                {{ form_widget(form_tp_edit) }}
                {{ form_end(form_tp_edit) }}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
                    Annuler
                </a>
                <a href="#" class="btn btn-primary ms-auto" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
                    Modifier
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-delete-tp" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            <div class="modal-status bg-danger"></div>
            <div class="modal-body text-center py-4">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path><path d="M12 16h.01"></path></svg>
                <h3>Are you sure?</h3>
                <div class="text-secondary">Voulez-vous vraiment supprimer ce TP</div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">
                                Annuler
                            </a>
                        </div>
                        <div class="col">
                            <form method="POST" action="" name="tpDelete">

                                <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal" onclick="javascript: this.parentNode.submit()">
                                    Supprimer
                                </a>
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete tp') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Storage/assets/js/searchUser.js" lang="js"></script>
<script lang="js">
    window.onload = () => {
        document.forms.utilisateur.parentNode.parentNode.children[2].children[1].addEventListener('click', evt => {
            document.forms.utilisateur.submit()
        })

        document.forms.tp.parentNode.parentNode.children[2].children[1].addEventListener('click', evt => {
            document.forms.tp.submit()
        })
    }

    document.forms

    function userDelete(id)
    {
        document.forms.utilisateurDelete.action = "/utilisateur/" + id
        return 0;
    }

    function userEdit(id, nom, prenom, courriel, classe_id)
    {
        const form = document.forms[2]

        form.action = "/utilisateur/" + id

        form['utilisateur[nom]'].value = nom;
        form['utilisateur[prenom]'].value = prenom;
        form['utilisateur[courriel]'].value = courriel;

        Array.from(form['utilisateur[classe]'].getElementsByTagName('option')).forEach((v, i) => {
            if (v.value === classe_id)
                form['utilisateur[classe]'].selectedIndex = i;
        })
    }

    function getTps(classe_id){
        if (classe_id === null)
            return

        Array(document.forms.tp.options).forEach((e, i, a) => {
            console.log(a)
        })

        //document.forms.tp.elemtents.tp_classe

        let table = document.getElementById("tp_table");
        table.children[1].innerHTML = null;
        table.dataset.classeid = classe_id;

        fetch('/utilisateur/search/tp?classe_id=' + classe_id, {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {

                data.forEach((item) => {
                    let date_debut = new Intl.DateTimeFormat('fr-FR', {
                        day: '2-digit',
                        month: '2-digit',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        timeZone: 'UTC'
                    }).format(new Date(item.date_debut));

                    let date_fin = new Intl.DateTimeFormat('fr-FR', {
                        day: '2-digit',
                        month: '2-digit',
                        year: 'numeric',
                        hour: '2-digit',
                        minute: '2-digit',
                        timeZone: 'UTC'
                    }).format(new Date(item.date_fin));

                    console.log(item)

                    const row = `
                        <tr>
                            <td>${item.titre}</td>
                            <td>${date_debut}</td>
                            <td>${date_fin}</td>
                            <td>
                                <a href="#"
                                data-bs-toggle="modal" data-bs-target="#modal-edit-tp" data-id="${item.id}" data-title="${item.titre}" data-description="${item.description}" data-classe="${item.classe.id}" data-dateDebut="${item.date_debut}" data-dateFin="${item.date_fin}" onclick="tpEdit(this)">
                                    Modifier
                                </a>
                            </td>
                            <td>
                                <a href="#" class="text-red" data-bs-toggle="modal" data-bs-target="#modal-delete-tp" onclick="tpDelete('${item.id}')">
                                    Supprimer
                                </a>
                            </td>
                        </tr>
                    `;

                    table.children[1].insertAdjacentHTML('beforeend', row);
                });
            })
            .catch(error => console.log(error));
    }

    function tpEdit(elem){
        let form = document.forms[5]

        form.action = "/utilisateur/" + elem.dataset.id

        let date = new Date(elem.dataset.datedebut);
        let date_debut = date.toISOString().slice(0, 16).replace('T', ' ');

        date = new Date(elem.dataset.datefin);
        let date_fin = date.toISOString().slice(0, 16).replace('T', ' ');

        form['tp[titre]'].value = elem.dataset.title
        form['tp[description]'].value = elem.dataset.description
        form['tp[date_debut]'].value = date_debut
        form['tp[date_fin]'].value = date_fin

        Array.from(form['tp[classe]'].getElementsByTagName('option')).forEach((v, i) => {
            if (v.value === elem.dataset.classe)
                form['tp[classe]'].selectedIndex = i;
        })
    }
</script>
